.modal {
    width: 100%;
    position: fixed;
    height: 100vh;
    color: #fff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 100px;
    z-index: 10000;
}

.inner-modal {
    background-color: #39445a;
    justify-content: space-around;
    display: flex;
    color: white;
    width: 100%;
    border: 2px solid white;
    height: 80%;
    padding: 24px 8px 24px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
    border-radius: 10px;
    background-color: #39445a;
    align-items: center;
}

.potrait {
    width: 38%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
    object-position: center;
}

.about {
    width: 58%;
    height: 100%;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 300;
}

.about h1 {
    font-size: 3.5vw;
    font-weight: 300;
    text-align: center;
}

.about p {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

.about div {
    font-size: 22px;
    display: flex;
    height: 40%;
    overflow-y: auto;
    padding: 15px;
    border-radius: 20px;
    scrollbar-width: thin;
    box-shadow: inset 0 0 5px #000;
    text-align: justify;
    font-weight: 300;
}

.casts {
    height: 225px;
    width: 100%;
}

.about button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #fff;
    background-color: #f50057;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 10px 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 7px;
    letter-spacing: 0.02857em;
    cursor: pointer;
}

.about button i {
    margin-right: 12px;
}

@media screen and (max-width: 1200px) {
    .modal {
        padding: 0;
    }
    .inner-modal {
        flex-direction: column;
        overflow: auto;
        padding: 10px 10px 20px 10px;
        width: 90%;
        height: 80%;
    }
    .potrait {
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 50%;
    }
    .about {
        width: 100%;
        padding: 10px 15px;
    }
    .about h1 {
        font-size: 5vw;
    }
    .about div {
        font-size: 16px;
        height: 40%;
    }
    .casts {
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .inner-modal {
        height: 75%;
    }
}