.modal {
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 57px 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1000 !important;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
}

.inner-modal {
    background-color: #39445a;
    justify-content: space-around;
    display: flex;
    color: white;
    width: 100%;
    border: 2px solid white;
    height: 100%;
    padding: 0px 8px 0px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
    border-radius: 10px;
    background-color: #39445a;
    align-items: center;
    overflow: auto;
}

.inner-modal::-webkit-scrollbar {
    width: 0px;
  }

.potrait {
    width: 38%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}

.potrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
    object-position: center;
}

.about {
    width: 58%;
    height: 100%;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 300;
}

.about h1 {
    font-size: 3.5vw;
    font-weight: 300;
    text-align: center;
}

.about i {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.content {
    font-size: 19px;
    display: flex;
    height: 25%;
    overflow-y: scroll;
    padding: 15px;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #000;
    text-align: justify;
    font-weight: 400;
}

.content::-webkit-scrollbar {
    width: 0px;
  }

.casts {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    height: max-content;
}

.casts::-webkit-scrollbar {
    width: 0px;
}

.cast {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 10px;
}

.cast img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #000;
    object-fit: cover;
    object-position: 50%;
    object-position: center;
}

.cast p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.about button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #fff;
    background-color: #f50057;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 10px 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 7px;
    letter-spacing: 0.02857em;
    cursor: pointer;
}

.about button i {
    margin-right: 12px;
}

@media screen and (max-width: 1200px) {
    .modal {
        padding: 0;
    }
    .inner-modal {
        flex-direction: column;
        overflow: auto;
        padding: 10px 10px 20px 10px;
        width: 90%;
        height: 80%;
        justify-content: space-between;
    }
    .potrait {
        border-radius: 10px;
        width: 100%;
        height: 50%;
        padding: 0;
    }
    .about {
        width: 100%;
        padding: 10px 15px;
    }
    .about h1 {
        font-size: 5vw;
    }
    .content {
        font-size: 16px;
        height: 30%;
    }
    .casts {
        width: 100%;
    }
    .cast p {
        font-size: 13px;
    }
}
@media screen and (max-width: 1000px) {
    .inner-modal {
        height: 80%;
    }
    .cast p {
        font-size: 11px;
    }
}