.search {
    min-height: 100vh;
    background-color: #39445a;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 70px;
    max-width: 1540px;
    margin: 0 auto;
}

.heading {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

.heading form {
    display: flex;
    margin: 15px 0;
    width: 100%;
}

.heading form input {
    padding: 25px 16px;
    width: 100%;
    background: black;
    outline-offset: 1px;
    border: none;
    border-bottom: 4px solid rgb(145, 142, 142);
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    transition: 0.3s all ease;
}

.heading form input:focus {
    border-bottom: 4px solid rgb(255, 255, 255);
}

input::placeholder {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.heading form button {
    background: black;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    color: #fff;
    padding: 25px 18px;
    font-size: 30px;
    width: 100px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    transition: 0.3s all ease;
    cursor: pointer;
}

.heading form button:hover {
    background: rgb(32, 31, 31);
}

.topic-wrapper {
    width: max-content;
}

.topics {
    display: flex;
    margin-top: 20px;
}

.topics button {
    color: white;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 300px;
    height: 48px;
    text-align: center;
    font-weight: 500;
    background: transparent;
    border: none;
    cursor: pointer;
}

.topics button:focus .line {
    transform: translateX(264px);
}

.line {
    width: 50%;
    background: white;
    padding: 1px;
    transition: 0.5s all ease;
    margin-bottom: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.btn button {
    background: black;
    margin-left: 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    color: #fff;
    padding: 15px 16px;
    font-size: 25px;
    width: 150px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    transition: 0.3s all ease;
}

.btn button:hover {
    background: rgb(32, 31, 31);
}

.disabled {
    background: grey !important;
    color: black !important;
}

@media screen and (max-width: 700px) {
    .topic-wrapper {
        width: 100%;
    }
    .topics button {
        font-size: 12px;
        width: 50%;
    }
    .heading form input {
        padding: 15px 16px !important;
        font-size: 16px;
    }
    .heading form button {
        padding: 15px 5px;
        font-size: 20px;
    }
}