.tvseries {
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding: 0 24px;
    padding-top: 20px;
    padding-bottom: 70px;
}
@media screen and (max-width: 375px) {
    .tvseries .trends {
        padding: 0;
    }
}